.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 57px;
  border-radius: 1rem;
  background-color: var(--color-gray-50);
  transition: background 0.2s ease;
  height: 48px;
  width: 235px;

  &.dark {
    background-color: var(--color-gray-900);
  }

  &.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  user-select: none;
}

.hiddenInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.switch {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 9999px;
  background: var(--color-purple-700);
  flex-shrink: 0;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(30%, -50%);
    width: 14px;
    height: 14px;
    border-radius: 9999px;
    background: var(--color-white);
    transition: transform 0.2s ease;
  }
}

.hiddenInput:checked + .switch::before {
  transform: translate(160%, -50%);
}

.dark {
  .icon {
    filter: brightness(0.8);
  }
}

@media (prefers-color-scheme: dark) {
  .container:not(.light) {
    background-color: var(--color-gray-900);

    .icon {
      filter: brightness(0.8);
    }
  }
}
